body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.banner {
    display: flex;
}

.half-with {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.half-with img {
    width: 80%;
}

p {
    text-align: justify;
}

button {

    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 50px;


}

.experiences-itm {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;


}

#baby-dev {
    border-left: 5px solid tomato;

}

#full-dev {
    border-left: 5px solid rgb(181, 71, 255);
}

.banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.footer {
    text-align: center;
    margin-top: 70px;

}